@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers;
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

</head>
<body>
<div  class="d-flex flex-column justify-content-center align-items-center   gy-5">
   
    @*HTML Tags*@
    @* <div class="mt-5"> *@
    @*     <a class="btn btn-danger" href="/Home/Index">Home</a> *@
    @*     <a class="btn btn-dark" href="/Home/ContactUs">ContactUs</a> *@
    @*     <a class="btn btn-secondary" href="/Home/AboutUs">AboutUs</a> *@
    @*     <a class="btn btn-info" href="/Home/Privacy">Privacy</a> *@
    @* </div> *@
    
    @*HTML Helper*@
    <div class="mt-5">
        @Html.ActionLink("Home", "Index", "Home", new { @class = "btn btn-danger" })
        @Html.ActionLink("ContactUs", "ContactUs", "Home", new { @class = "btn btn-dark" })
        @Html.ActionLink("AboutUs", "AboutUs", "Home", new { @class = "btn btn-secondary" })
        @Html.ActionLink("Privacy", "Privacy", "Home", new { @class = "btn btn-info" })
    </div>
    
    @*Tag Helpers*@
    @* <div class="mt-5"> *@
    @*     <a asp-action="Index" asp-controller="Home" class="btn btn-danger">Home</a> *@
    @*     <a asp-action="ContactUs" asp-controller="Home" class="btn btn-dark">ContactUs</a> *@
    @*     <a asp-action="AboutUs" asp-controller="Home" class="btn btn-secondary">AboutUs</a> *@
    @*     <a asp-action="Privacy" asp-controller="Home" class="btn btn-info">Privacy</a> *@
    @* </div> *@
        @RenderBody()
        
<footer>
    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
</footer>
</div>
</body>
</html>